<h1>検査結果</h1>

<div id="laboratory_test_reports">
  <% @laboratory_test_reports.each do |laboratory_test_report| %>
    <p>
      <strong>検査名:</strong> <%= laboratory_test_report.test_name %><br/>
      <% laboratory_test_report.analytes.each do |analyte| %> 
        <%= analyte.name %>: <%= analyte.value %> <%= analyte.unit%> <br/>
      <% end %>
    </p>
  <% end %>
</div>